{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <style>
        .article-wrapper
        {
            margin: 0.5em auto;
            width: 100%;
            font: 18px / 1.5 sans-serif;
        }
    </style>

    <div class="article-wrapper">
        <section class="p-t-30">
            <div class="container">
                    {% for article in articles %}
                <div class="row">
                    <div class="card col-12">
                        {# <img src="..." class="card-img-top" alt="..."> #}
                        <div class="card-body">
                            <div class="card-title col-4" >
                                <h5><a href="{{ path('article_show', { id: article.id }) }}"><strong>{{ article.category.name }}</strong> - {{ article.name }}</a></h5>
                            </div>
                            <div class="card-text col-8">
                                <form>
                                    {# <i class="fas fa-shopping-cart"></i> #}
                                    <input id="{{ article.id }}" type="number" value="1"/>
                                    <button type="submit" class="btn btn-primary btn-sm" style="width:140px">
                                        <i class="fas fa-shopping-cart"></i> Ajouter
                                    </button>
                                </form>
                            </div>
                            {# <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
                        </div>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </section>
    </div>


{% endblock %}
