{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

 <script type="text/javascript">
    $(document).ready(function() {
        $('#article_picture').change( function() {
            let filename = $(this)[0].value;
            const idx = filename.lastIndexOf("\\");
            filename = filename.substr(idx+1);
            $('.custom-file-label').html(filename);
        });
    });
</script>
