{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mettre à jour un article</h1>
        <div class="row">
            <div class="col-sm-5">
                {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    <a href="{{ path('article_index') }}">back to list</a>
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
