<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <a href="{{ path('home') }}" class="logo"> Cap Méchant
                    <!-- <img src="{{ asset('uploads/logos/clikEat.png') }}" alt="Clik Eat Logo" height="50px"> -->
                </a>
                <div class="toright">
                    <nav class="nav">
                        {% if app.user %}
                            <ul>
                                <li class="dropdown">
                                    <a href="{{ path('app_login') }}" data-toggle="dropdown">
                                        <img src="" alt="">
                                        <span>{{ app.user.codeClient }}
                                            <i class="fas fa-chevron-down"></i>
                                        </span>
                                    </a>
                                   <div class="dropdown-menu dropdown-menu-right">
                                       {# <!-- < <a class="dropdown-item" href="{{ path('user_self_show') }}">
                                            <i class="fas fa-user"></i>Mon profil
                                        </a> --> #}
                                        <!-- <div class="dropdown-divider"></div> -->
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('user_index') }}">
                                                <i class="fas fa-users"></i>Users</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('article_index') }}">
                                                <i class="fas fa-utensils"></i>Articles</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ path('category_index') }}">
                                                <i class="fas fa-columns"></i>Catégories</a>
                                            <div class="dropdown-divider"></div>
                                        {% endif %}

                                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                                            <i class="fas fa-sign-out-alt"></i>Se déconnecter
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a href="{{ path('home') }}">
                                        <i class="fas fa-home"></i>
                                    </a>
                                </li>
                            </li>
                            <li class="dropdown dropdown-notification">
                                <a href="#" data-toggle="dropdown">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="badge badge-cart" id="count"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <h5 class="dropdown-header mb-0">
                                        <i class="fas fa-shopping-cart"></i>
                                        Panier</h5>
                                    <div class="dropdown-block">
                                        <ul class="dropdown-list" id="cartList">
                                            <!-- {# {% for item in cart %}
                                                <li class="d-flex flex-row ml-auto">
                                                    <a href="#" class="d-flex flex-row ml-auto">
                                                        x{{ item.quantity }} {{ item.product.product.name }} {{ item.product.name }} | {{ item.product.price }}€
                                                    </a>
                                                    <form method="post" action="{{ path( 'cart_item_delete', { 'id': item.product.id } ) }}">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <button class="btn btn-link"><i class="fa fa-trash"></i></button>
                                                    </form>
                                                </li>
                                            {% endfor %} #} --> 
                                        </ul>
                                        <div class="d-flex border-bottom mb-2 px-3 py-2">Total:
                                            <span class="ml-auto font-weight-bold text-success" id="itemCount">0 article</span>
                                        </div>
                                        <div class="d-flex px-3">
                                            <!--{# <a class="btn btn-outline btn-sm" href="{{ path('get_cart') }}">Editer quantité</a> #}-->
                                            <a class="btn btn-success btn-sm ml-auto" href="#" id="validate">Valider</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            {# <!-- <li>
                                <a data-toggle="search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li> --> #}
                        </ul>
                    {% else %}
                        <ul>
                            <li>
                                <a href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li>
                                <a href="{{ path('home') }}">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            {# <li>
                                <a data-toggle="search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li> #}
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
        <div class="navbar-search">
            <div class="container">
                <form method="post">
                    <input type="text" class="form-control" placeholder="Rechercher...">
                    <i class="fas fa-times close"></i>
                </form>
            </div>
        </div>
    </div>
</header>
